*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
}

.board-container {
    margin: 100px;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

.square {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.top-row {
    border-top: none;
}

.left {
    border-left: none;
}

.bottom-row {
    border-bottom: none;
}

.right {
    border-right: none;
}

button {
    height: 100px;
    width: 100px;
    border: none;
}