@font-face {
    font-family: 'Eraser';
    src: url('fonts/EraserDust.woff2') format('woff2'),
        url('fonts/EraserDust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eraser';
    src: url('fonts/EraserRegular.woff2') format('woff2'),
        url('fonts/EraserRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

:root {
    --board-size: 450px;
    --square-size: 150px;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  background-image: url("images/chalkboard.jpg");
  font-family: "Eraser";
  color: white;
}

.header,
.restart {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-container {
    height: var(--board-size);
    width: var(--board-size);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url("images/grid.png");
    background-size: cover;
}



.square {
    border: none;
    width: var(--square-size);
}

.top-row {
    border-top: none;
}

.left {
    border-left: none;
}

.bottom-row {
    border-bottom: none;
}

.right {
    border-right: none;

}

button {
    height: var(--square-size);
    width: var(--square-size);
    border: none; 
    font-size: 120px;
    background-color: transparent;
    font-family: "Eraser";
    color: white;
}

.header button,
.restart {
    margin: auto;
    font-size: 40px;
    color: black;
    background-color: white;
    border: none;
    height: 60px;
    width: 300px;
    border-radius: 5px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding: 16px;
    gap: 20px;
}


.player button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
    background-color: white;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

.marker {
    font-size: 80px;
    height: 100px;
}

dialog button {
    height: 30px;
    color: black;
    background-color: rgb(173, 174, 174);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
}

dialog p {
    font-size: 40px;
    text-align: center;
}